<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container">

    <h1 th:text="${title}" class="mt-4"></h1>

    <form method="post" style="max-width:300px;" th:object="${pc}" class="mt-5">
        <div class="form-group">
            <strong><label th:for="name">Name</label></strong>
            <input th:field="*{name}" class="form-control" required="required"/>
        </div>
        <input type="submit" value="Create Menu" class="btn btn-danger" style="border-radius: 12px; margin-left: 1%;"/>
    </form>
</div>
</body>
</html>