<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>

</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container">


    <h1 th:text="${title}">default</h1>

    <form th:object="${rigForm}" method="post">

        <table class="table">
            <div th:each="hardware : ${hardwareType}">
                <tbody>
                <tr>
                    <td><a th:href="@{/buildRig/add-hardware(pcId=${pcId} , hardwareEnums=${hardware})}"
                           th:text=" 'Select ' + ${hardware.name}"></a></td>
                    <td></td>
                </tr>
                </tbody>
            </div>
        </table>

        <!--  TABLE1 -->
        <br/>

        <table class="table table-sm">
            <thead  style="background-color: #0FA098;">
            <tr>
                <th scope="col">Component</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="items : ${rigItems.cpu}">
                <th scope="row">CPU</th>
                <td th:text="${items.name}"></td>
                <td th:text="'$' + ${#numbers.formatDecimal(items.itemPrice, 0, 'COMMA', 2, 'POINT')}"></td>
            </tr>

            <tr th:each="items : ${rigItems.cpuCooler}">
                <th scope="row">CPU Cooler</th>
                <td th:text="${items.name}"></td>
                <td th:text="'$' + ${#numbers.formatDecimal(items.itemPrice, 0, 'COMMA', 2, 'POINT')}"></td>
            </tr>

            <tr th:each="items : ${rigItems.memory}">
                <th scope="row">Memory</th>
                <td th:text="${items.name}"></td>
                <td th:text="'$' + ${#numbers.formatDecimal(items.itemPrice, 0, 'COMMA', 2, 'POINT')}"></td>
            </tr>

            <tr th:each="items : ${rigItems.motherBoard}">
                <th scope="row">Motherboard</th>
                <td th:text="${items.name}"></td>
                <td th:text="'$' + ${#numbers.formatDecimal(items.itemPrice, 0, 'COMMA', 2, 'POINT')}"></td>
            </tr>

            <tr th:each="items : ${rigItems.externalStorage}">
                <th scope="row">External Storage</th>
                <td th:text="${items.name}"></td>
                <td th:text="'$' + ${#numbers.formatDecimal(items.itemPrice, 0, 'COMMA', 2, 'POINT')}"></td>
            </tr>

            <tr th:each="items : ${rigItems.operatingSystem}">
                <th scope="row">Operating System</th>
                <td th:text="${items.name}"></td>
                <td th:text="'$' + ${#numbers.formatDecimal(items.itemPrice, 0, 'COMMA', 2, 'POINT')}"></td>
            </tr>

            <tr th:each="items : ${rigItems.opticalDrive}">
                <th scope="row">Optical Drive</th>
                <td th:text="${items.name}"></td>
                <td th:text="'$' + ${#numbers.formatDecimal(items.itemPrice, 0, 'COMMA', 2, 'POINT')}"></td>
            </tr>

            <tr th:each="items : ${rigItems.pcCase}">
                <th scope="row">Case</th>
                <td th:text="${items.name}"></td>
                <td th:text="'$' + ${#numbers.formatDecimal(items.itemPrice, 0, 'COMMA', 2, 'POINT')}"></td>
            </tr>

            <tr th:each="items : ${rigItems.pcMonitor}">
                <th scope="row">Monitor</th>
                <td th:text="${items.name}"></td>
                <td th:text="'$' + ${#numbers.formatDecimal(items.itemPrice, 0, 'COMMA', 2, 'POINT')}"></td>
            </tr>

            <tr th:each="items : ${rigItems.powerSupply}">
                <th scope="row">Power Supply</th>
                <td th:text="${items.name}"></td>
                <td th:text="'$' + ${#numbers.formatDecimal(items.itemPrice, 0, 'COMMA', 2, 'POINT')}"></td>
            </tr>

            <tr th:each="items : ${rigItems.software}">
                <th scope="row">Software</th>
                <td th:text="${items.name}"></td>
                <td th:text="'$' + ${#numbers.formatDecimal(items.itemPrice, 0, 'COMMA', 2, 'POINT')}"></td>
            </tr>

            <tr th:each="items : ${rigItems.storage}">
                <th scope="row">Storage</th>
                <td th:text="${items.name}"></td>
                <td th:text="'$' + ${#numbers.formatDecimal(items.itemPrice, 0, 'COMMA', 2, 'POINT')}"></td>
            </tr>

            <tr th:each="items : ${rigItems.videoCard}">
                <th scope="row">Video Card</th>
                <td th:text="${items.name}"></td>
                <td th:text="'$' + ${#numbers.formatDecimal(items.itemPrice, 0, 'COMMA', 2, 'POINT')}"></td>
            </tr>
            </tbody>
        </table>
        <!--  TABLE1 -->

        <hr/>

        <table>
            <tr>
                <th scope="row">Total Price:</th>
                <td th:text="'$' + ${totalPrice}" class="pl-2"></td>
            </tr>
            <tr>
                <th scope="row">GHz:</th>
                <td th:text="${ProcessingSpeed}" class="pl-2"></td>
            </tr>

            <tr>
                <th scope="row">Storage:</th>
                <td th:text="${Storage} + ' GB'" class="pl-2"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>