<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>

</head>
<body>



<div th:replace="fragments :: page-header"></div>

<div class="container">


    <h1 th:text="${title}">default</h1>

    <form th:object="${Component}" style="width:300px;" method="post" class="mt-5" >
        <strong><label>Name</label></strong>
        <input th:field="*{name}" required="required" class="form-control"/>
        <br/>

        <strong><label>Price</label></strong>
        <input th:field="*{itemPrice}" class="form-control"/>
        <br/>

        <strong><label th:unless="${value} == 'none'" th:text="${value}"></label></strong>
        <input th:unless="${value} == 'none'" th:field="*{pcValue}" class="form-control"/>
        <br/>


        <input th:field="*{img}" type="file" class="pb-3" />
        <br/>

        <input type="submit" value="Add" class="btn btn-danger" style="border-radius: 12px; margin-left: 1%;" />
    </form>

</div>
</body>
</html>