<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>

</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container">


    <h1 th:text="${title}"></h1>

    <div th:each="hardware : ${hardwareType}">
        <tr>
            <td><a th:href="@{/hardware/add-item(hardwareEnums=${hardware})}"
                   th:text=" 'Add New ' + ${hardware.name}"></a></td>
            <td></td>
        </tr>
    </div>

</div>

</body>
</html>