<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container">

    <form method="post" style="width:150px;" class="mt-5">

        <strong><label>Current</label></strong>
        <select name="mainRig" class="form-control">
            <option th:each="rigM : ${mainRig}" th:text="${rigM.name}"  th:value="${rigM.id}"></option>
        </select>


        <strong><label class="mt-5">Other</label></strong>
        <select name="otherRig" class="form-control">
            <option th:each="rigO : ${otherRig}" th:text="${rigO.name}" th:value="${rigO.id}"></option>
        </select>

        <input type="submit" value="Compare" class="btn btn-info" style="border-radius: 12px; margin-top: 30%;" />
    </form>

</div>


</body>
</html>