.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navigationItems {
  float: left;
}

.navigationItems a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigationItems a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}


.btn{
background-color: teal;
border-color: white;


}

.homeBody{
background-color: teal;
}

.homeTitle{
font-family: Times New Roman, Times, serif;
color: black;
text-align:center;
margin-top: 60px;


}

.homeDesc{

text-align:center;
font-size: 15pt;

}

#homeButton1{

color: black;
border-radius: 30px;
font-size: 15px;
background-color: white;
border-color: teal;
font-family: Times New Roman, Times, serif;

}

#homeButton2{
color: black;
border-radius: 30px;
font-size: 15px;
margin-left: 4%;
background-color: white;
border-color: teal;
font-family: Times New Roman, Times, serif;
}