<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<div class="container">

    <h1 th:text="${title}"></h1>

    <form th:object="${userLogin}" method="post">
        <div class="row">
            <label>Email</label>
            <input type="text" required="required"/>
        </div>

        <div class="row">
            <label>Password</label>
            <input type="password" required="required"/>
        </div>

        <input type="submit" value="login" />
    </form>

</div>


</body>
</html>